In [2]:
import numpy as np
import pandas as pd

In [3]:
airbnb_data = pd.read_csv('dataset/airbnb.csv')
airbnb_data

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48890,36484665,Charming one bedroom - newly renovated rowhouse,8232441,Sabrina,Brooklyn,Bedford-Stuyvesant,40.67853,-73.94995,Private room,70,2,0,NaN,NaN,2,9
48891,36485057,Affordable room in Bushwick/East Williamsburg,6570630,Marisol,Brooklyn,Bushwick,40.70184,-73.93317,Private room,40,4,0,NaN,NaN,2,36
48892,36485431,Sunny Studio at Historical Neighborhood,23492952,Ilgar & Aysel,Manhattan,Harlem,40.81475,-73.94867,Entire home/apt,115,10,0,NaN,NaN,1,27
48893,36485609,43rd St. Time Square-cozy single bed,30985759,Taz,Manhattan,Hell's Kitchen,40.75751,-73.99112,Shared room,55,1,0,NaN,NaN,6,2
48894,36487245,Trendy duplex in the very heart of Hell's Kitchen,68119814,Christophe,Manhattan,Hell's Kitchen,40.76404,-73.98933,Private room,90,7,0,NaN,NaN,1,23

In [23]:
airbnb_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 35238 entries, 1 to 48894
Data columns (total 17 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              35238 non-null  int64
 1   name                            35238 non-null  object
 2   host_id                         35238 non-null  int64
 3   host_name                       35238 non-null  object
 4   neighbourhood_group             35238 non-null  object
 5   neighbourhood                   35238 non-null  object
 6   latitude                        35238 non-null  float64
 7   longitude                       35238 non-null  float64
 8   room_type                       35238 non-null  object
 9   price                           35238 non-null  int64
 10  minimum_nights                  35238 non-null  int64
 11  number_of_reviews               35238 non-null  int64
 12  last_review                     35238 non-null  datetime64[ns]
 13  reviews_per_month               35238 non-null  float32
 14  calculated_host_listings_count  35238 non-null  int64
 15  availability_365                35238 non-null  int64
 16  price_category                  35238 non-null  object
dtypes: datetime64[ns](1), float32(1), float64(2), int64(7), object(6)
memory usage: 4.7+ MB

In [5]:
airbnb_data.describe(include = "all")

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
count,4.889500e+04,48879,4.889500e+04,48874,48895,48895,48895.000000,48895.000000,48895,48895.000000,48895.000000,48895.000000,38843,38843.000000,48895.000000,48895.000000
unique,NaN,47905,NaN,11452,5,221,NaN,NaN,3,NaN,NaN,NaN,1764,NaN,NaN,NaN
top,NaN,Hillside Hotel,NaN,Michael,Manhattan,Williamsburg,NaN,NaN,Entire home/apt,NaN,NaN,NaN,2019-06-23,NaN,NaN,NaN
freq,NaN,18,NaN,417,21661,3920,NaN,NaN,25409,NaN,NaN,NaN,1413,NaN,NaN,NaN
mean,1.901714e+07,NaN,6.762001e+07,NaN,NaN,NaN,40.728949,-73.952170,NaN,152.720687,7.029962,23.274466,NaN,1.373221,7.143982,112.781327
std,1.098311e+07,NaN,7.861097e+07,NaN,NaN,NaN,0.054530,0.046157,NaN,240.154170,20.510550,44.550582,NaN,1.680442,32.952519,131.622289
min,2.539000e+03,NaN,2.438000e+03,NaN,NaN,NaN,40.499790,-74.244420,NaN,0.000000,1.000000,0.000000,NaN,0.010000,1.000000,0.000000
25%,9.471945e+06,NaN,7.822033e+06,NaN,NaN,NaN,40.690100,-73.983070,NaN,69.000000,1.000000,1.000000,NaN,0.190000,1.000000,0.000000
50%,1.967728e+07,NaN,3.079382e+07,NaN,NaN,NaN,40.723070,-73.955680,NaN,106.000000,3.000000,5.000000,NaN,0.720000,1.000000,45.000000
75%,2.915218e+07,NaN,1.074344e+08,NaN,NaN,NaN,40.763115,-73.936275,NaN,175.000000,5.000000,24.000000,NaN,2.020000,2.000000,227.000000
max,3.648724e+07,NaN,2.743213e+08,NaN,NaN,NaN,40.913060,-73.712990,NaN,10000.000000,1250.000000,629.000000,NaN,58.500000,327.000000,365.000000

In [6]:
airbnb_data.dropna(subset=['name', 'host_name'], inplace=True)

In [7]:
values = airbnb_data["last_review"].value_counts().index.tolist()
counts = airbnb_data["last_review"].value_counts().tolist()
val_counts = dict(zip(values, counts))
val_counts

{'2019-06-23': 1413,
 '2019-07-01': 1359,
 '2019-06-30': 1341,
 '2019-06-24': 875,
 '2019-07-07': 717,
 '2019-07-02': 657,
 '2019-06-22': 655,
 '2019-06-16': 601,
 '2019-07-05': 580,
 '2019-07-06': 565,
 '2019-06-29': 529,
 '2019-06-21': 529,
 '2019-07-03': 426,
 '2019-06-19': 424,
 '2019-06-25': 423,
 '2019-06-20': 421,
 '2019-06-28': 399,
 '2019-01-01': 396,
 '2019-06-26': 390,
 '2019-06-09': 383,
 '2019-06-17': 376,
 '2019-06-15': 370,
 '2019-05-27': 347,
 '2019-06-18': 340,
 '2019-06-27': 334,
 '2019-07-04': 330,
 '2019-01-02': 299,
 '2019-06-10': 298,
 '2019-06-02': 291,
 '2019-05-31': 288,
 '2019-05-26': 263,
 '2019-06-14': 263,
 '2019-06-01': 262,
 '2019-05-19': 260,
 '2019-06-08': 249,
 '2019-06-03': 236,
 '2019-06-13': 222,
 '2019-06-11': 208,
 '2019-06-12': 201,
 '2019-05-20': 173,
 '2019-05-28': 169,
 '2018-01-01': 167,
 '2019-06-04': 158,
 '2019-06-07': 155,
 '2019-05-25': 151,
 '2019-01-03': 136,
 '2019-05-05': 135,
 '2019-06-05': 129,
 '2019-06-06': 124,
 '2019-04-28': 121,
 '2018-12-31': 120,
 '2018-12-30': 119,
 '2019-04-21': 118,
 '2019-05-18': 117,
 '2019-05-21': 117,
 '2019-05-12': 117,
 '2018-01-02': 117,
 '2019-05-30': 117,
 '2019-04-30': 117,
 '2019-05-24': 114,
 '2019-05-23': 106,
 '2019-03-31': 105,
 '2019-05-29': 101,
 '2017-01-01': 100,
 '2019-05-22': 92,
 '2019-05-06': 89,
 '2019-07-08': 88,
 '2019-05-13': 88,
 '2019-04-27': 86,
 '2019-05-17': 84,
 '2017-01-02': 82,
 '2019-05-11': 82,
 '2019-05-04': 81,
 '2019-04-29': 80,
 '2019-04-22': 78,
 '2019-05-15': 75,
 '2016-01-02': 74,
 '2019-05-01': 73,
 '2019-01-04': 73,
 '2018-12-29': 72,
 '2019-05-10': 72,
 '2019-05-16': 68,
 '2018-09-30': 67,
 '2018-10-07': 67,
 '2016-01-03': 66,
 '2019-04-07': 65,
 '2019-05-08': 64,
 '2019-05-07': 63,
 '2019-03-24': 61,
 '2019-05-09': 59,
 '2019-01-05': 59,
 '2016-01-05': 59,
 '2019-05-14': 58,
 '2019-04-24': 57,
 '2018-01-03': 57,
 '2019-04-26': 55,
 '2019-04-23': 55,
 '2018-10-08': 51,
 '2018-12-16': 50,
 '2018-11-25': 49,
 '2019-04-15': 48,
 '2018-08-27': 48,
 '2019-01-06': 48,
 '2019-01-07': 47,
 '2018-08-31': 46,
 '2019-04-01': 46,
 '2017-12-31': 45,
 '2018-10-28': 45,
 '2019-04-20': 45,
 '2019-04-14': 45,
 '2018-12-09': 44,
 '2017-12-30': 44,
 '2018-08-26': 43,
 '2019-03-17': 42,
 '2018-11-04': 42,
 '2019-03-10': 42,
 '2018-09-03': 41,
 '2019-04-08': 41,
 '2019-03-30': 40,
 '2017-09-04': 39,
 '2016-01-01': 39,
 '2018-05-28': 39,
 '2019-02-17': 39,
 '2018-07-29': 39,
 '2019-04-19': 39,
 '2019-02-18': 39,
 '2019-05-03': 38,
 '2019-04-25': 37,
 '2018-12-28': 37,
 '2018-07-31': 37,
 '2018-01-04': 37,
 '2018-11-05': 37,
 '2019-03-25': 37,
 '2018-08-19': 37,
 '2018-11-24': 36,
 '2018-10-31': 35,
 '2019-05-02': 35,
 '2017-07-30': 35,
 '2018-09-23': 34,
 '2019-03-16': 34,
 '2019-02-28': 33,
 '2018-12-27': 33,
 '2019-04-16': 33,
 '2018-12-02': 33,
 '2018-10-14': 33,
 '2018-07-01': 33,
 '2018-07-22': 32,
 '2018-10-21': 32,
 '2018-10-29': 32,
 '2019-04-10': 31,
 '2017-01-03': 31,
 '2018-12-26': 31,
 '2019-04-09': 30,
 '2018-09-02': 30,
 '2019-03-09': 30,
 '2017-07-31': 30,
 '2019-03-11': 30,
 '2019-04-06': 29,
 '2017-11-26': 29,
 '2019-04-11': 29,
 '2018-09-29': 29,
 '2016-09-05': 28,
 '2019-03-29': 28,
 '2018-04-30': 28,
 '2018-08-05': 28,
 '2018-09-09': 28,
 '2019-04-13': 28,
 '2018-10-27': 28,
 '2018-08-11': 28,
 '2016-07-31': 27,
 '2018-09-28': 27,
 '2018-04-22': 27,
 '2018-10-15': 27,
 '2019-04-18': 27,
 '2018-12-01': 27,
 '2018-06-30': 27,
 '2019-04-12': 27,
 '2018-11-30': 27,
 '2018-11-11': 27,
 '2016-12-31': 27,
 '2018-07-30': 26,
 '2018-06-24': 26,
 '2018-08-12': 26,
 '2018-09-01': 26,
 '2018-10-22': 26,
 '2017-09-30': 26,
 '2018-10-09': 26,
 '2018-11-01': 26,
 '2018-09-16': 26,
 '2019-02-24': 26,
 '2018-12-17': 25,
 '2017-07-01': 25,
 '2019-02-23': 25,
 '2018-12-12': 25,
 '2018-08-20': 25,
 '2018-04-01': 25,
 '2019-03-03': 25,
 '2017-12-10': 25,
 '2019-03-23': 25,
 '2017-05-21': 25,
 '2018-09-24': 24,
 '2019-03-21': 24,
 '2017-10-15': 24,
 '2019-03-18': 24,
 '2018-12-10': 24,
 '2017-01-04': 24,
 '2018-10-01': 24,
 '2018-09-04': 24,
 '2017-05-29': 24,
 '2018-06-10': 24,
 '2019-01-31': 24,
 '2017-08-28': 24,
 '2017-11-25': 24,
 '2018-03-31': 24,
 '2019-02-15': 23,
 '2018-10-06': 23,
 '2019-03-15': 23,
 '2018-07-28': 23,
 '2018-08-29': 23,
 '2017-10-23': 23,
 '2018-05-20': 23,
 '2015-12-30': 23,
 '2018-11-12': 23,
 '2019-01-27': 23,
 '2018-07-08': 23,
 '2016-07-25': 23,
 '2019-03-01': 23,
 '2018-07-27': 23,
 '2018-12-15': 23,
 '2018-08-10': 23,
 '2018-12-08': 23,
 '2018-08-18': 23,
 '2018-08-15': 22,
 '2018-11-26': 22,
 '2018-10-02': 22,
 '2017-08-27': 22,
 '2019-01-20': 22,
 '2018-08-25': 22,
 '2018-10-25': 22,
 '2016-08-01': 22,
 '2018-07-15': 22,
 '2018-08-14': 22,
 '2018-10-13': 22,
 '2018-11-02': 21,
 '2017-10-22': 21,
 '2016-10-09': 21,
 '2019-04-17': 21,
 '2016-11-27': 21,
 '2016-08-28': 21,
 '2019-01-13': 21,
 '2018-04-29': 21,
 '2019-01-21': 21,
 '2019-01-19': 21,
 '2019-01-09': 21,
 '2019-03-20': 21,
 '2016-07-06': 21,
 '2018-11-19': 21,
 '2017-09-15': 21,
 '2017-12-29': 21,
 '2018-12-07': 21,
 '2018-10-30': 21,
 '2018-11-18': 21,
 '2019-01-25': 21,
 '2015-10-12': 21,
 '2019-02-10': 20,
 '2018-11-03': 20,
 '2018-08-28': 20,
 '2018-07-16': 20,
 '2017-10-30': 20,
 '2019-01-15': 20,
 '2018-05-13': 20,
 '2018-05-18': 20,
 '2018-12-22': 20,
 '2016-10-10': 20,
 '2018-09-25': 20,
 '2016-01-06': 20,
 '2017-09-03': 20,
 '2019-04-02': 20,
 '2018-06-25': 20,
 '2018-11-27': 20,
 '2018-12-14': 20,
 '2019-03-19': 19,
 '2017-10-01': 19,
 '2016-08-15': 19,
 '2018-09-26': 19,
 '2018-12-21': 19,
 '2017-11-05': 19,
 '2019-02-11': 19,
 '2017-08-12': 19,
 '2019-01-14': 19,
 '2019-04-03': 19,
 '2018-08-23': 19,
 '2018-12-23': 19,
 '2018-08-13': 19,
 '2018-09-22': 19,
 '2018-06-29': 19,
 '2016-09-19': 19,
 '2018-05-06': 19,
 '2017-08-31': 19,
 '2019-03-27': 19,
 '2019-03-04': 19,
 '2015-11-02': 19,
 '2019-02-16': 18,
 '2018-08-06': 18,
 '2015-09-27': 18,
 '2017-04-30': 18,
 '2018-01-05': 18,
 '2018-12-20': 18,
 '2018-09-14': 18,
 '2018-08-21': 18,
 '2019-01-08': 18,
 '2018-10-03': 18,
 '2016-11-26': 18,
 '2018-12-24': 18,
 '2018-12-18': 18,
 '2017-08-15': 18,
 '2018-05-21': 18,
 '2019-02-20': 18,
 '2018-12-03': 18,
 '2016-10-23': 18,
 '2018-10-20': 18,
 '2018-08-03': 18,
 '2017-05-28': 18,
 '2019-02-01': 18,
 '2017-10-08': 18,
 '2017-10-09': 18,
 '2018-09-21': 18,
 '2018-06-16': 17,
 '2018-09-17': 17,
 '2017-12-08': 17,
 '2018-08-22': 17,
 '2016-06-13': 17,
 '2019-04-04': 17,
 '2016-08-22': 17,
 '2019-02-26': 17,
 '2018-04-15': 17,
 '2016-12-30': 17,
 '2015-12-28': 17,
 '2017-08-13': 17,
 '2018-05-26': 17,
 '2015-09-21': 17,
 '2018-05-19': 17,
 '2018-08-16': 17,
 '2017-09-05': 17,
 '2015-01-02': 17,
 '2015-12-27': 17,
 '2018-06-03': 17,
 '2017-08-20': 17,
 '2018-08-04': 17,
 '2018-09-11': 17,
 '2019-01-28': 17,
 '2018-12-11': 17,
 '2017-05-31': 16,
 '2018-07-26': 16,
 '2018-03-18': 16,
 '2017-08-29': 16,
 '2017-08-21': 16,
 '2017-08-26': 16,
 '2018-07-07': 16,
 '2017-12-26': 16,
 '2017-11-06': 16,
 '2017-12-28': 16,
 '2015-12-31': 16,
 '2017-08-19': 16,
 '2017-05-22': 16,
 '2019-03-28': 16,
 '2016-08-14': 16,
 '2016-06-27': 16,
 '2016-09-11': 16,
 '2019-03-02': 16,
 '2018-09-10': 16,
 '2016-08-23': 16,
 '2018-06-19': 16,
 '2018-08-17': 16,
 '2018-09-15': 16,
 '2018-10-10': 16,
 '2018-08-07': 16,
 '2017-01-05': 16,
 '2018-07-02': 16,
 '2018-04-08': 16,
 '2016-07-01': 16,
 '2017-04-17': 16,
 '2018-07-05': 16,
 '2016-06-26': 16,
 '2016-09-01': 16,
 '2018-10-26': 16,
 '2018-09-13': 16,
 '2017-12-03': 16,
 '2016-08-08': 16,
 '2016-05-23': 15,
 '2019-01-17': 15,
 '2019-02-08': 15,
 '2015-10-26': 15,
 '2018-01-06': 15,
 '2018-11-10': 15,
 '2017-06-11': 15,
 '2015-10-11': 15,
 '2017-06-24': 15,
 '2016-08-29': 15,
 '2015-08-31': 15,
 '2017-12-22': 15,
 '2018-08-01': 15,
 '2018-06-23': 15,
 '2018-06-17': 15,
 '2017-12-27': 15,
 '2018-11-15': 15,
 '2018-11-23': 15,
 '2018-12-25': 15,
 '2018-05-04': 15,
 '2019-03-05': 15,
 '2017-07-24': 15,
 '2019-02-12': 15,
 '2019-01-18': 15,
 '2018-07-23': 15,
 '2018-04-02': 15,
 '2019-02-03': 15,
 '2018-06-04': 14,
 '2019-02-02': 14,
 '2017-12-11': 14,
 '2016-07-05': 14,
 '2018-05-08': 14,
 '2019-01-23': 14,
 '2017-05-07': 14,
 '2019-03-26': 14,
 '2016-09-18': 14,
 '2017-09-17': 14,
 '2018-05-27': 14,
 '2017-10-31': 14,
 '2018-07-24': 14,
 '2018-05-29': 14,
 '2017-09-25': 14,
 '2019-03-08': 14,
 '2016-05-30': 14,
 '2017-08-14': 14,
 '2018-08-24': 14,
 '2016-12-11': 14,
 '2017-09-24': 14,
 '2015-08-17': 14,
 '2018-05-31': 14,
 '2017-06-19': 14,
 '2016-12-29': 14,
 '2017-11-12': 14,
 '2018-09-18': 14,
 '2017-09-26': 14,
 '2018-11-20': 14,
 '2018-01-07': 14,
 '2018-07-21': 14,
 '2018-08-09': 14,
 '2019-03-22': 14,
 '2016-05-01': 13,
 '2016-08-13': 13,
 '2018-03-19': 13,
 '2019-03-13': 13,
 '2018-10-23': 13,
 '2018-05-12': 13,
 '2019-03-06': 13,
 '2017-06-29': 13,
 '2017-06-25': 13,
 '2016-08-16': 13,
 '2016-08-25': 13,
 '2018-12-19': 13,
 '2016-07-29': 13,
 '2017-08-18': 13,
 '2018-12-04': 13,
 '2016-10-31': 13,
 '2016-09-06': 13,
 '2018-12-06': 13,
 '2019-02-19': 13,
 '2017-07-29': 13,
 '2017-10-29': 13,
 '2016-07-18': 13,
 '2018-11-17': 13,
 '2017-08-01': 13,
 '2018-10-24': 13,
 '2018-08-08': 13,
 '2017-06-18': 13,
 '2018-09-08': 13,
 '2017-05-08': 13,
 '2016-08-07': 13,
 '2015-12-01': 13,
 '2017-09-01': 13,
 '2015-09-26': 13,
 '2018-04-07': 13,
 '2018-10-11': 13,
 '2016-10-16': 13,
 '2017-06-30': 13,
 '2015-09-28': 13,
 '2018-09-19': 13,
 '2018-06-27': 13,
 '2016-06-12': 13,
 '2017-09-20': 13,
 '2018-02-25': 12,
 '2015-09-07': 12,
 '2017-07-23': 12,
 '2018-05-07': 12,
 '2018-06-28': 12,
 '2018-07-06': 12,
 '2018-11-08': 12,
 '2019-03-14': 12,
 '2018-02-19': 12,
 '2018-05-24': 12,
 '2017-06-12': 12,
 '2017-05-20': 12,
 '2016-05-28': 12,
 '2015-11-29': 12,
 '2016-10-24': 12,
 '2016-10-02': 12,
 '2018-06-01': 12,
 '2016-08-06': 12,
 '2016-08-27': 12,
 '2017-12-18': 12,
 '2019-02-07': 12,
 '2018-09-05': 12,
 '2015-11-01': 12,
 '2015-10-19': 12,
 '2019-04-05': 12,
 '2018-07-13': 12,
 '2019-02-25': 12,
 '2016-08-20': 12,
 '2018-07-17': 12,
 '2017-11-20': 12,
 '2016-07-04': 12,
 '2016-11-01': 12,
 '2018-06-14': 12,
 '2018-09-06': 12,
 '2017-09-02': 11,
 '2018-05-22': 11,
 '2019-01-29': 11,
 '2016-08-26': 11,
 '2019-01-12': 11,
 '2016-06-14': 11,
 '2015-10-27': 11,
 '2017-08-24': 11,
 '2018-04-16': 11,
 '2016-05-22': 11,
 '2015-09-08': 11,
 '2018-09-27': 11,
 '2017-04-16': 11,
 '2015-09-06': 11,
 '2017-08-07': 11,
 '2016-03-27': 11,
 '2018-10-12': 11,
 '2019-03-07': 11,
 '2015-12-29': 11,
 '2018-09-07': 11,
 '2016-06-20': 11,
 '2016-07-24': 11,
 '2017-09-27': 11,
 '2018-10-05': 11,
 '2018-06-11': 11,
 '2018-11-09': 11,
 '2018-07-10': 11,
 '2018-10-18': 11,
 '2019-02-22': 11,
 '2017-09-29': 11,
 '2015-10-24': 11,
 '2019-01-26': 11,
 '2016-05-15': 11,
 '2018-07-14': 11,
 '2019-03-12': 11,
 '2016-10-03': 11,
 '2016-10-01': 11,
 '2019-01-30': 11,
 '2016-02-15': 11,
 '2015-09-01': 11,
 '2016-08-31': 11,
 '2017-06-04': 11,
 '2017-11-18': 11,
 '2018-03-15': 11,
 '2017-04-18': 11,
 '2019-02-09': 11,
 '2018-01-08': 11,
 '2016-05-16': 11,
 '2016-06-29': 11,
 '2017-07-27': 11,
 '2017-12-12': 11,
 '2018-07-09': 11,
 '2016-09-23': 10,
 '2015-08-07': 10,
 '2016-07-30': 10,
 '2015-08-16': 10,
 '2017-06-22': 10,
 '2017-07-03': 10,
 '2016-10-30': 10,
 '2018-11-22': 10,
 '2018-11-14': 10,
 '2017-11-24': 10,
 '2016-09-10': 10,
 '2017-12-19': 10,
 '2016-06-05': 10,
 '2016-05-21': 10,
 '2016-11-13': 10,
 '2018-05-02': 10,
 '2017-10-14': 10,
 '2017-05-25': 10,
 '2018-06-26': 10,
 '2016-06-28': 10,
 '2017-10-07': 10,
 '2016-09-26': 10,
 '2018-06-09': 10,
 '2018-01-15': 10,
 '2018-05-15': 10,
 '2017-06-20': 10,
 '2016-03-28': 10,
 '2016-07-28': 10,
 '2017-11-19': 10,
 '2019-01-22': 10,
 '2018-02-18': 10,
 '2017-09-21': 10,
 '2016-03-24': 10,
 '2015-08-24': 10,
 '2018-05-30': 10,
 '2016-11-28': 10,
 '2016-07-23': 10,
 '2019-02-14': 10,
 '2017-08-17': 10,
 '2017-07-16': 10,
 '2017-08-22': 10,
 '2018-11-07': 10,
 '2017-12-20': 10,
 '2017-09-09': 10,
 '2016-09-21': 10,
 '2018-05-11': 10,
 '2017-12-16': 10,
 '2017-10-16': 10,
 '2016-07-02': 10,
 '2017-10-25': 10,
 '2018-08-30': 10,
 '2015-09-29': 10,
 '2015-08-25': 10,
 '2016-08-09': 10,
 '2018-12-05': 10,
 '2016-04-01': 10,
 '2017-09-22': 10,
 '2016-06-06': 10,
 '2019-01-10': 10,
 '2018-04-20': 10,
 '2015-01-03': 10,
 '2017-07-04': 10,
 '2016-05-18': 10,
 '2018-10-04': 10,
 '2016-07-20': 10,
 '2016-07-19': 10,
 '2018-10-16': 10,
 '2017-10-28': 10,
 '2018-05-25': 10,
 '2015-08-29': 10,
 '2017-02-19': 9,
 '2015-10-13': 9,
 '2015-12-13': 9,
 '2017-09-19': 9,
 '2018-04-13': 9,
 '2017-12-17': 9,
 '2015-11-28': 9,
 '2017-08-08': 9,
 '2016-07-08': 9,
 '2018-10-17': 9,
 '2016-04-17': 9,
 '2017-10-27': 9,
 '2016-06-23': 9,
 '2018-11-13': 9,
 '2017-08-06': 9,
 '2018-04-21': 9,
 '2017-10-20': 9,
 '2015-09-14': 9,
 '2018-09-12': 9,
 '2016-07-26': 9,
 '2017-04-23': 9,
 '2016-10-22': 9,
 '2016-09-25': 9,
 '2018-08-02': 9,
 '2017-06-02': 9,
 '2019-02-06': 9,
 '2018-01-13': 9,
 '2018-11-06': 9,
 '2017-07-05': 9,
 '2018-04-26': 9,
 '2017-06-16': 9,
 '2016-08-21': 9,
 '2017-11-15': 9,
 '2018-06-20': 9,
 '2017-05-13': 9,
 '2017-07-02': 9,
 '2016-09-17': 9,
 '2015-12-14': 9,
 '2016-09-07': 9,
 '2016-06-17': 9,
 '2018-03-25': 9,
 '2016-08-24': 9,
 '2017-10-10': 9,
 '2016-05-19': 9,
 '2016-08-30': 9,
 '2015-05-19': 9,
 '2018-01-14': 9,
 '2018-07-18': 9,
 '2016-05-31': 9,
 '2017-06-28': 9,
 '2017-08-25': 9,
 '2016-03-13': 9,
 '2018-11-21': 9,
 '2018-01-21': 9,
 '2017-07-21': 9,
 '2018-07-19': 9,
 '2016-09-22': 9,
 '2016-08-10': 9,
 '2018-10-19': 9,
 '2017-08-02': 9,
 '2017-08-04': 9,
 '2019-02-21': 9,
 '2017-11-30': 9,
 '2017-07-28': 9,
 '2017-10-17': 9,
 '2017-05-24': 9,
 '2018-06-15': 9,
 '2016-12-27': 9,
 '2017-12-05': 9,
 '2017-09-23': 9,
 '2018-05-05': 9,
 '2016-06-19': 9,
 '2018-04-23': 8,
 '2017-11-13': 8,
 '2016-05-29': 8,
 '2016-10-28': 8,
 '2016-06-07': 8,
 '2016-09-30': 8,
 '2017-11-04': 8,
 '2018-05-14': 8,
 '2018-06-02': 8,
 '2018-11-28': 8,
 '2017-12-06': 8,
 '2017-05-27': 8,
 '2017-04-15': 8,
 '2017-06-26': 8,
 '2018-03-20': 8,
 '2016-07-21': 8,
 '2016-11-06': 8,
 '2017-10-04': 8,
 '2018-06-18': 8,
 '2018-07-25': 8,
 '2015-08-19': 8,
 '2017-09-28': 8,
 '2015-11-25': 8,
 '2015-10-01': 8,
 '2016-01-07': 8,
 '2018-02-15': 8,
 '2017-01-07': 8,
 '2017-08-05': 8,
 '2018-04-12': 8,
 '2016-11-07': 8,
 '2017-05-18': 8,
 '2017-06-09': 8,
 '2019-02-04': 8,
 '2018-04-06': 8,
 '2018-06-22': 8,
 '2017-08-30': 8,
 '2017-01-08': 8,
 '2016-12-06': 8,
 '2019-02-27': 8,
 '2018-06-08': 8,
 '2017-12-02': 8,
 '2019-01-16': 8,
 '2015-08-23': 8,
 '2017-08-03': 8,
 '2017-09-14': 8,
 '2016-12-26': 8,
 '2017-09-07': 8,
 '2016-03-30': 8,
 '2018-05-16': 8,
 '2016-03-26': 8,
 '2017-08-11': 8,
 '2015-08-01': 8,
 '2015-10-07': 8,
 '2016-06-02': 8,
 '2017-08-16': 8,
 '2017-09-08': 8,
 '2017-10-02': 8,
 '2016-02-21': 8,
 '2017-10-06': 8,
 '2016-11-16': 8,
 '2015-12-23': 8,
 '2016-01-09': 8,
 '2018-03-17': 8,
 '2017-09-10': 8,
 '2018-04-10': 8,
 '2017-09-16': 8,
 '2017-05-01': 8,
 '2015-09-30': 8,
 '2018-04-09': 8,
 '2018-06-12': 8,
 '2019-01-24': 8,
 '2015-09-02': 8,
 '2016-06-30': 8,
 '2018-05-10': 8,
 '2015-11-03': 8,
 '2015-08-09': 8,
 '2019-01-11': 8,
 '2018-09-20': 8,
 '2015-10-05': 8,
 '2016-05-07': 8,
 '2017-12-01': 7,
 '2015-01-01': 7,
 '2017-05-02': 7,
 '2017-05-30': 7,
 '2016-10-12': 7,
 '2018-03-13': 7,
 '2017-01-15': 7,
 '2018-12-13': 7,
 '2015-10-30': 7,
 '2016-08-04': 7,
 '2018-03-26': 7,
 '2016-06-04': 7,
 '2016-09-27': 7,
 '2016-09-28': 7,
 '2018-01-28': 7,
 '2016-07-13': 7,
 '2018-03-02': 7,
 '2015-09-13': 7,
 '2018-05-23': 7,
 '2016-12-10': 7,
 '2018-07-04': 7,
 '2017-08-09': 7,
 '2018-06-07': 7,
 '2018-04-03': 7,
 '2015-10-29': 7,
 '2015-08-02': 7,
 '2016-11-29': 7,
 '2017-05-03': 7,
 '2016-12-28': 7,
 '2017-11-01': 7,
 '2016-01-31': 7,
 '2015-07-03': 7,
 '2018-05-03': 7,
 '2016-09-24': 7,
 '2016-08-02': 7,
 '2017-09-13': 7,
 '2016-10-29': 7,
 '2017-07-25': 7,
 '2015-10-04': 7,
 '2016-05-08': 7,
 '2015-10-18': 7,
 '2016-11-18': 7,
 '2018-01-25': 7,
 '2016-11-15': 7,
 '2018-03-24': 7,
 '2016-06-01': 7,
 '2018-06-05': 7,
 '2017-12-24': 7,
 '2015-12-07': 7,
 '2016-06-25': 7,
 '2017-07-17': 7,
 '2015-11-10': 7,
 '2017-07-20': 7,
 '2016-05-09': 7,
 '2018-04-28': 7,
 '2017-12-09': 7,
 '2017-08-10': 7,
 '2018-03-23': 7,
 '2015-08-10': 7,
 '2017-07-19': 7,
 '2015-12-06': 7,
 '2017-12-14': 7,
 '2016-07-15': 7,
 '2016-09-04': 7,
 '2016-04-18': 7,
 '2015-10-14': 7,
 '2017-12-13': 7,
 '2017-02-20': 7,
 '2018-03-11': 7,
 '2017-06-01': 7,
 '2016-06-11': 7,
 '2015-10-28': 7,
 '2019-02-05': 7,
 '2017-12-15': 7,
 '2017-06-05': 7,
 '2016-08-11': 7,
 '2016-10-04': 7,
 '2018-06-13': 7,
 '2018-03-27': 7,
 '2017-09-11': 7,
 '2017-11-11': 7,
 '2016-04-11': 7,
 '2018-03-16': 7,
 '2018-06-21': 7,
 '2018-01-17': 7,
 '2018-05-17': 7,
 '2016-07-27': 6,
 '2016-09-13': 6,
 '2016-06-10': 6,
 '2016-08-18': 6,
 '2015-10-09': 6,
 '2018-02-21': 6,
 '2016-05-14': 6,
 '2018-02-28': 6,
 '2017-11-02': 6,
 '2016-08-05': 6,
 '2017-03-16': 6,
 '2015-10-21': 6,
 '2016-10-08': 6,
 '2017-04-10': 6,
 '2018-04-25': 6,
 '2017-07-09': 6,
 '2015-11-27': 6,
 '2016-01-20': 6,
 '2017-03-31': 6,
 '2016-09-03': 6,
 '2016-09-15': 6,
 '2016-11-05': 6,
 '2015-07-27': 6,
 '2017-09-18': 6,
 '2016-12-05': 6,
 '2016-08-17': 6,
 '2015-12-26': 6,
 '2015-06-18': 6,
 '2017-10-03': 6,
 '2016-11-14': 6,
 '2017-05-16': 6,
 '2015-10-20': 6,
 '2015-09-18': 6,
 '2016-07-16': 6,
 '2016-05-24': 6,
 '2016-07-11': 6,
 '2016-03-23': 6,
 '2015-06-26': 6,
 '2016-10-15': 6,
 '2018-04-11': 6,
 '2018-01-16': 6,
 '2016-06-08': 6,
 '2015-09-15': 6,
 '2017-04-19': 6,
 '2015-05-25': 6,
 '2016-09-14': 6,
 '2016-01-17': 6,
 '2017-06-08': 6,
 '2016-04-02': 6,
 '2017-03-08': 6,
 '2016-04-22': 6,
 '2016-05-17': 6,
 '2018-03-28': 6,
 '2017-09-12': 6,
 '2018-04-24': 6,
 '2018-03-08': 6,
 '2015-07-23': 6,
 '2016-09-29': 6,
 '2015-07-06': 6,
 '2016-05-02': 6,
 '2018-02-08': 6,
 '2015-08-03': 6,
 '2019-02-13': 6,
 '2018-11-16': 6,
 '2017-03-19': 6,
 '2018-01-09': 6,
 '2017-04-24': 6,
 '2016-05-04': 6,
 '2016-05-26': 6,
 '2017-06-23': 6,
 '2017-03-07': 6,
 '2017-08-23': 6,
 '2016-04-24': 6,
 '2016-07-17': 6,
 '2015-08-21': 6,
 '2017-10-24': 6,
 '2015-12-22': 6,
 '2017-03-25': 6,
 '2018-02-26': 6,
 '2015-08-08': 6,
 '2018-06-06': 6,
 '2017-05-23': 6,
 '2017-04-09': 6,
 '2015-12-19': 6,
 '2016-12-16': 6,
 '2017-12-25': 6,
 '2016-05-13': 6,
 '2016-10-19': 6,
 '2017-12-07': 6,
 '2016-10-17': 6,
 '2015-09-22': 6,
 '2016-03-20': 6,
 '2017-03-26': 6,
 '2018-02-01': 6,
 '2015-01-04': 6,
 '2017-04-28': 6,
 '2017-01-31': 6,
 '2017-01-16': 6,
 '2015-09-09': 6,
 '2016-10-11': 6,
 '2016-10-27': 6,
 '2018-01-31': 6,
 '2016-04-04': 6,
 '2015-08-14': 6,
 '2015-09-16': 6,
 '2015-08-27': 6,
 '2018-07-03': 6,
 '2016-05-20': 6,
 '2016-05-25': 6,
 '2018-02-24': 6,
 '2016-05-11': 6,
 '2017-05-09': 6,
 '2017-01-14': 6,
 '2015-06-28': 6,
 '2015-12-21': 6,
 ...}

In [8]:
airbnb_data["last_review"] = airbnb_data["last_review"].fillna('2019-06-23')

In [9]:
airbnb_data["reviews_per_month"] = airbnb_data["reviews_per_month"].fillna('1.373229')

In [10]:
airbnb_data

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,2019-06-23,1.373229,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48890,36484665,Charming one bedroom - newly renovated rowhouse,8232441,Sabrina,Brooklyn,Bedford-Stuyvesant,40.67853,-73.94995,Private room,70,2,0,2019-06-23,1.373229,2,9
48891,36485057,Affordable room in Bushwick/East Williamsburg,6570630,Marisol,Brooklyn,Bushwick,40.70184,-73.93317,Private room,40,4,0,2019-06-23,1.373229,2,36
48892,36485431,Sunny Studio at Historical Neighborhood,23492952,Ilgar & Aysel,Manhattan,Harlem,40.81475,-73.94867,Entire home/apt,115,10,0,2019-06-23,1.373229,1,27
48893,36485609,43rd St. Time Square-cozy single bed,30985759,Taz,Manhattan,Hell's Kitchen,40.75751,-73.99112,Shared room,55,1,0,2019-06-23,1.373229,6,2
48894,36487245,Trendy duplex in the very heart of Hell's Kitchen,68119814,Christophe,Manhattan,Hell's Kitchen,40.76404,-73.98933,Private room,90,7,0,2019-06-23,1.373229,1,23

In [11]:
airbnb_data["last_review"] = pd.to_datetime(airbnb_data["last_review"],format= "%Y-%m-%d")

In [12]:
airbnb_data["reviews_per_month"] = pd.to_numeric(airbnb_data["last_review"], downcast="float")

In [13]:
#Make Price Category
airbnb_data["price_category"] = np.where(airbnb_data["price"] > 106, "Expensive", (np.where(airbnb_data["price"] > 69, "Medium", "Cheap")))
airbnb_data

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,price_category
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,1.539907e+18,6,365,Expensive
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,1.558397e+18,2,355,Expensive
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,2019-06-23,1.561248e+18,1,365,Expensive
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,1.562285e+18,1,194,Medium
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,1.542586e+18,1,0,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48890,36484665,Charming one bedroom - newly renovated rowhouse,8232441,Sabrina,Brooklyn,Bedford-Stuyvesant,40.67853,-73.94995,Private room,70,2,0,2019-06-23,1.561248e+18,2,9,Medium
48891,36485057,Affordable room in Bushwick/East Williamsburg,6570630,Marisol,Brooklyn,Bushwick,40.70184,-73.93317,Private room,40,4,0,2019-06-23,1.561248e+18,2,36,Cheap
48892,36485431,Sunny Studio at Historical Neighborhood,23492952,Ilgar & Aysel,Manhattan,Harlem,40.81475,-73.94867,Entire home/apt,115,10,0,2019-06-23,1.561248e+18,1,27,Expensive
48893,36485609,43rd St. Time Square-cozy single bed,30985759,Taz,Manhattan,Hell's Kitchen,40.75751,-73.99112,Shared room,55,1,0,2019-06-23,1.561248e+18,6,2,Cheap
48894,36487245,Trendy duplex in the very heart of Hell's Kitchen,68119814,Christophe,Manhattan,Hell's Kitchen,40.76404,-73.98933,Private room,90,7,0,2019-06-23,1.561248e+18,1,23,Medium

In [14]:
values = airbnb_data["price_category"].value_counts().index.tolist()
counts = airbnb_data["price_category"].value_counts().tolist()
val_counts = dict(zip(values, counts))
val_counts

{'Expensive': 24405, 'Cheap': 12360, 'Medium': 12093}

In [20]:
#Filter the data with last review > 2019
airbnb_data = airbnb_data.loc[airbnb_data["last_review"] >= "2019-01-01"]

In [21]:
airbnb_data

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,price_category
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,1.558397e+18,2,355,Expensive
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,2019-06-23,1.561248e+18,1,365,Expensive
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,1.562285e+18,1,194,Medium
5,5099,Large Cozy 1 BR Apartment In Midtown East,7322,Chris,Manhattan,Murray Hill,40.74767,-73.97500,Entire home/apt,200,3,74,2019-06-22,1.561162e+18,1,129,Expensive
7,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,79,2,430,2019-06-24,1.561334e+18,1,220,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48890,36484665,Charming one bedroom - newly renovated rowhouse,8232441,Sabrina,Brooklyn,Bedford-Stuyvesant,40.67853,-73.94995,Private room,70,2,0,2019-06-23,1.561248e+18,2,9,Medium
48891,36485057,Affordable room in Bushwick/East Williamsburg,6570630,Marisol,Brooklyn,Bushwick,40.70184,-73.93317,Private room,40,4,0,2019-06-23,1.561248e+18,2,36,Cheap
48892,36485431,Sunny Studio at Historical Neighborhood,23492952,Ilgar & Aysel,Manhattan,Harlem,40.81475,-73.94867,Entire home/apt,115,10,0,2019-06-23,1.561248e+18,1,27,Expensive
48893,36485609,43rd St. Time Square-cozy single bed,30985759,Taz,Manhattan,Hell's Kitchen,40.75751,-73.99112,Shared room,55,1,0,2019-06-23,1.561248e+18,6,2,Cheap
48894,36487245,Trendy duplex in the very heart of Hell's Kitchen,68119814,Christophe,Manhattan,Hell's Kitchen,40.76404,-73.98933,Private room,90,7,0,2019-06-23,1.561248e+18,1,23,Medium

In [22]:
airbnb_data.describe()

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
count,3.523800e+04,3.523800e+04,35238.000000,35238.000000,35238.00000,35238.000000,35238.000000,3.523800e+04,35238.000000,35238.000000
mean,2.123324e+07,7.918224e+07,40.728544,-73.950290,156.37434,6.760344,28.748028,1.559786e+18,8.616919,134.528634
std,1.115455e+07,8.511670e+07,0.055311,0.049153,229.67447,17.371446,50.169539,3.502386e+15,37.974058,131.981028
min,2.595000e+03,2.571000e+03,40.499790,-74.244420,0.00000,1.000000,0.000000,1.546301e+18,1.000000,0.000000
25%,1.205578e+07,9.308019e+06,40.689593,-73.983400,69.00000,1.000000,0.000000,1.559606e+18,1.000000,4.000000
50%,2.254826e+07,3.994302e+07,40.723250,-73.954760,110.00000,2.000000,7.000000,1.561248e+18,1.000000,88.000000
75%,3.111930e+07,1.373589e+08,40.762810,-73.932533,180.00000,5.000000,34.000000,1.561334e+18,2.000000,263.000000
max,3.648724e+07,2.743213e+08,40.913060,-73.712990,10000.00000,999.000000,629.000000,1.562544e+18,327.000000,365.000000

In [37]:
import matplotlib.pyplot as plt
%matplotlib inline
from collections import Counter

In [49]:
airbnb_data["availability_in_4_month"] = np.where(airbnb_data["availability_365"] > 240, "more than 8 month", 
                                                      (np.where(airbnb_data["availability_365"] > 120, "4 - 8 month", " less than 4 month")))
airbnb_data

<ipython-input-49-8a1c8d4c84f8>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  airbnb_data["availability_in_4_month"] = np.where(airbnb_data["availability_365"] > 240, "more than 8 month",

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,price_category,availability_in_4_month
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,1.558397e+18,2,355,Expensive,more than 8 month
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,2019-06-23,1.561248e+18,1,365,Expensive,more than 8 month
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,1.562285e+18,1,194,Medium,4 - 8 month
5,5099,Large Cozy 1 BR Apartment In Midtown East,7322,Chris,Manhattan,Murray Hill,40.74767,-73.97500,Entire home/apt,200,3,74,2019-06-22,1.561162e+18,1,129,Expensive,4 - 8 month
7,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,79,2,430,2019-06-24,1.561334e+18,1,220,Medium,4 - 8 month
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48890,36484665,Charming one bedroom - newly renovated rowhouse,8232441,Sabrina,Brooklyn,Bedford-Stuyvesant,40.67853,-73.94995,Private room,70,2,0,2019-06-23,1.561248e+18,2,9,Medium,less than 4 month
48891,36485057,Affordable room in Bushwick/East Williamsburg,6570630,Marisol,Brooklyn,Bushwick,40.70184,-73.93317,Private room,40,4,0,2019-06-23,1.561248e+18,2,36,Cheap,less than 4 month
48892,36485431,Sunny Studio at Historical Neighborhood,23492952,Ilgar & Aysel,Manhattan,Harlem,40.81475,-73.94867,Entire home/apt,115,10,0,2019-06-23,1.561248e+18,1,27,Expensive,less than 4 month
48893,36485609,43rd St. Time Square-cozy single bed,30985759,Taz,Manhattan,Hell's Kitchen,40.75751,-73.99112,Shared room,55,1,0,2019-06-23,1.561248e+18,6,2,Cheap,less than 4 month
48894,36487245,Trendy duplex in the very heart of Hell's Kitchen,68119814,Christophe,Manhattan,Hell's Kitchen,40.76404,-73.98933,Private room,90,7,0,2019-06-23,1.561248e+18,1,23,Medium,less than 4 month

In [ ]:
airbnb_data.plot(kind='bar', x='availability_365', y='price')

KeyboardInterrupt: